<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href = "css/bootstrap.css" rel = "stylesheet"/>
    <title>API Rest con vistas XILFTEN Movies</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add">addMovies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/delete">deleteMovie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/edit">editarMovie</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-sm-2" type="search" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<h1>API REST XILTEN Movies</h1>
<hr>
<h3>Get all Movies</h3>
<p>Para obtener todas las películas usa la url
    http://localhost:8080/movies </p>
<h3>Get Movie by id</h3>
<p>Para obtener una película por id usa la url
    http://localhost:8080/movies/{id} </p>
<p th:if="${message != null}" th:text="${message}"></p>
</body>
</html>